.Dictionary section {
  background: white;
  padding: 36px;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  max-width: 800px;
  margin: 16px auto;
}

.Dictionary h1 {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.Dictionary h3 {
  text-align: center;
  text-transform: capitalize;
}

.Dictionary form {
  margin-top: 5px;
}

.Dictionary form .search-input {
  background: #edf8f8;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: #24527a;
  font-size: 20px;
  height: 50px;
  line-height: 20px;
}
.Dictionary form .form-control:focus {
  background: #edf8f8;
}
.Dictionary input {
  width: 100%;
}
.Dictionary .hint {
  font-size: 16px;
  margin-top: 16px;
  color: #24527a;
  opacity: 0.5;
  text-transform: inherit;
}
