.Dictionary section {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  max-width: 700px;
  margin: 16px auto;
}

.Dictionary h3 {
  text-align: center;
  text-transform: capitalize;
}

.Dictionary form {
  margin-top: 5px;
}

.Dictionary form .search-input {
  background: #edf8f8;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.Dictionary form .form-control:focus {
  background: #edf8f8;
}
.Dictionary input {
  width: 100%;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 16px;
  color: rgba(39, 33, 66, 0.4);
  text-transform: inherit;
}

.Dictionary .Meaning ul {
  padding: 0;
}
.Dictionary .Meaning li {
  list-style: none;
  display: inline-block;
}
